html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c111b;
  color: white;
  margin-bottom: 8rem;

}

/* Header Component Styling */

.headerMain {
  background-color: #0c111b;
  height: 7rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}

.heading {
  font-size: 2.5rem;
  margin-left: 5rem;
}

.heading span {
  color: #61dafb;
}

.subHeader {
  display: flex;
  width: 100%;
  justify-content:flex-end;
  margin-right: 4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* SearchBar Of Header Component Styling */

.searchBarComponent {
  width: 25%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 5rem;
  color: white;
  background-color: #121926;
  margin-left: 10rem;
}

.searchIcon {
  font-size: 1.5rem;
  margin: 0rem 2rem;
  transition: color 0.5s;
  cursor: pointer;
}

.searchIcon:hover {
  color: #cbcbcb;
}

input:focus {
  outline: none;
}

.searchDataInp {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  background-color: #121926;
  border-radius: 0rem 5rem 5rem 0rem;

}

.signUpShower {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 4rem;
  margin-right: 1rem;
  color: white;
  transition: color 0.5s;
}

.signUpShower:hover {
  color: #cbcbcb;
}

/* CreateAccount Component Styling */
/* Note Large Amount Of Code Is Copied From UploadImage Component */

.aboutUserInp {
  margin-top: 1.5rem;
}

.aboutUserInp::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ededed;
  opacity: 1;
  /* Firefox */
}

.aboutUserInp:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ededed;
}

.aboutUserInp::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ededed;
}

.signUpTextShower {
  font-size: 2.5rem;
  margin-right: 30%;
  transition: color 0.5s;
}

.signUpTextShower:hover {
  color: #cbcbcb;
}


/* Upload Image Styling Of Header Component */

.uploadAndUserDetails {
  display: flex;
  color: white;
  align-items: center;
  font-size: 1.5rem;
}

.uploadSVGImg {
  margin-left: 2rem;
}

.uploadSVGImg svg {
  color: white;
  cursor: pointer;
}

.userProfileImage img,
.userProfileWithoutPic {
  margin-left: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.userProfileWithoutPic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #354054;
  font-size: 1.2rem;
}


/* Dashboard Component Styling */

.dashboardMain {
  display: flex;
  justify-content: center;
}

.dashboardSubMain {
  display: flex;
  width: 86rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.dataShowerComponent {
  width: 70rem;
  margin-top: 4rem;
}

.publisherDetails,
.aboutDataImage {
  width: 100%;
  background-color: #121926;
}

.publisherDetails {
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #121926;
  border-radius: 1rem 1rem 0rem 0rem;
}


.publisherImage img {
  margin-left: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.publisherName {
  margin-left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.mainImageData {
  margin-top: 0.5rem;
}

.dataImage {
  object-fit: cover;
  width: 100%;
}

.aboutDataImage {
  margin-top: 0.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1rem 1rem 1.5rem 1.5rem;
  font-size: 1.4rem;
}

.publishedDate {
  font-size: 1.2rem;
  font-weight: bold;
  color: #c1c1c1;
}

.mainAboutData {
  margin-top: 1rem;
  margin-top: 1rem;
  max-height: 3.5rem;
  overflow: hidden;
}

.readMoreOption {
  font-size: 1.2rem;
  font-weight: bold;
  color: #c1c1c1;
  margin-top: 1rem;
}

#shareImageIcon {
  margin-left: auto;
  margin-right: 1.5rem;
  /* padding: 1rem; */
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 0.5s;
}

#shareImageIcon:hover {
  color: #cbcbcb;
}


/* UploadImage Component Styling */

.uploadImageMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  background-color: #0c111b94;
}

#getFile {
  color: rgba(0, 0, 0, 0);
}

.uploadImageSub {
  width: 40rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 1rem;
  background-color: #121926;
  /* justify-content: center; */
  padding-bottom: 2rem;
}

.uploadImageSubPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.imageUploadSubmit {
  background-color: #047ecf;
  color: white;
  height: 3.5rem;
  width: 30rem;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.5s;
}

.imageUploadSubmit:hover {
  background-color: #0095f6;
}

.getFile {
  background-color: #5c5c5c;
  color: #ededed;
  padding: 1rem 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: color 0.5s;
}

.getFile:hover {
  color: white;
}

#imageDescription {
  width: 30rem;
  border-radius: 0.5rem;
  height: 5.2rem;
  border: none;
  color: white;
  background-color: rgb(56, 65, 88);
  padding: 1rem;
  outline: none;
  resize: none;
}

.fa-file-image-o {
  margin-left: 0.8rem;
}

.closeUploadIcon {
  font-size: 2.5rem;
  cursor: pointer;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.closeUploadIcon i {
  transition: color 0.5s;
}

.closeUploadIcon i:hover {
  color: #cbcbcb;
}

#isSetTopData {
  opacity: 0;
}

.checkIsSetTopDataDiv {
  display: flex;
  flex-direction: column;
}

.checkIsSetTopDataDiv label {
  background-color: #5c5c5c;
  color: #ededed;
  padding: 0.5rem 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.checkIsSetTopDataDiv label:hover {
  background-color: #444444;
}

/* Chrome, Safari, Edge, Opera */
/* It Will Hide Arrow From Number Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#checkBoxStatusShower {
  display: none;
  color: #00d900;
  margin-left: 0.5rem;
  border: 0.1rem solid;
  border-radius: 50%;
  padding: 0.3rem;
}

.topDataPosAndBidInpSub {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

#bidValueTakerInp {
  width: 30rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: rgb(56, 65, 88);
  padding: 1rem;
  margin: 1rem 0rem 0rem 0rem
}

#bidValueTakerInp::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ededed;
  opacity: 1;
  /* Firefox */
}

#bidValueTakerInp:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ededed;
}

#bidValueTakerInp::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ededed;
}

/* Loading Component Styling */

.mainLoader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  background-color: #1f1b2dc4;
  z-index: 1;
}

.subLoader {
  color: white;
  font-size: 4rem;
  font-family: 'Mulish', sans-serif;
  background-color: #9799d1;
  padding: 0.5rem 1.5rem;
  border-radius: 100%;
}

.animatorDiv {
  height: 0.8rem;
  width: 0.8rem;
  background-color: #362e52;
  position: relative;
  animation: moveLoader 2s infinite;
  animation-timing-function: ease-in-out;
  left: -43px;
  top: -12px;
  border-radius: 50%;
}

.loaderText {
  font-family: 'Mulish', sans-serif;
}

@keyframes moveLoader {
  0% {
    left: -43px;
    top: -12px;
  }

  25% {
    left: -35.5px;
    top: 12px;
  }

  50% {
    left: -19.2px;
    top: -12px;
  }

  75% {
    left: -35.5px;
    top: 12px;
  }

  100% {
    left: -43px;
    top: -12px;
  }
}


/* Error 404 Error Page Styling*/

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subMainDivError404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
}

.div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.err1 {
  font-size: 8rem;
  font-family: "Archivo Black", sans-serif;
}

.err1 h1 {
  margin: 0%;
  background: -webkit-linear-gradient(#eee, #3f8bf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message1 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.2rem;
  color: #535765;
  font-size: 2rem;
}

.op40 h1 {
  position: relative;
  animation: mova1 1s infinite;
}

@keyframes mova1 {
  from {
    left: -1rem;
  }

  to {
    left: auto;
  }
}

.op41 h1 {
  position: relative;
  animation: mova11 0.5s infinite;
}

@keyframes mova11 {
  from {
    left: -1rem;
  }

  to {
    left: auto;
  }
}

.op42 h1 {
  position: relative;
  animation: mova111 0.8s infinite;
}

@keyframes mova111 {
  from {
    left: -1rem;
  }

  to {
    left: auto;
  }
}

/* User Component Styling */

.userDetailShowerMain {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileShowerContainer {
  margin-top: 15rem;
  display: flex;
}

.profileImageShower img {
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
  object-fit: cover;
}

.profileInfoShower {
  margin-left: 10rem;
  width: 40rem;
}

.profileInfoShower h1 {
  margin-top: 2rem;
}

.postInfoShower,
.joinedDateShower {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #c1c1c1;
}

.joinedDateShower {
  margin-top: 1rem;
}

.aboutUserShower {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #c1c1c1;
}

.showUserProfileWithoutPic {
  font-size: 3rem;
  height: 8rem;
  width: 8rem;
}

/* Media Queries For Responsiveness */

@media screen and (max-width: 1000px) {
  .searchBarComponent {
    width: 30%;
  }
}

@media screen and (max-width: 860px) {
  .dashboardSubMain {
    width: 96%;
  }
}

@media screen and (max-width: 750px) {
  .dataShowerComponent {
    width: 60rem;
  }

  .searchBarComponent {
    width: 40%;
  }

  .profileImageShower img {
    height: 15rem;
    width: 15rem;
  }

  .profileInfoShower {
    margin-left: 5rem;
    width: 35rem;
  }

}

@media screen and (max-width: 650px) {
  .dataShowerComponent {
    width: 50rem;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 2.2rem;
    margin-left: 2.5rem;
  }

  .searchBarComponent {
    margin-left: 0;
  }

  .profileInfoShower {
    margin-left: 0rem;
    width: 100%;
  }

  .profileShowerContainer {
    margin-top: 10rem;
    flex-direction: column;
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .dataShowerComponent {
    width: 100%;
  }

  .searchBarComponent {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: 2.2rem;
    margin-left: 2rem;
  }

  .subHeader {
    margin-right: 2rem;
  }

  .userProfileImage img,
  .userProfileWithoutPic {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 410px) {
  .uploadImageSub {
    width: 98%;
  }
}